.header-container {
  position: relative;
  width: 98vw;
  height: 10vh;
  border: solid black;
  text-align: center;
}

.welcome-message {
  margin-top: 2.5vh;
  font-size: 32px;
}

.create-task-button {
  position: absolute;
  top: 2vh;
  left: 85vw;
  border: solid black;
  padding: 1vw;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
}