.header-container {
  position: relative;
  width: 98vw;
  height: 10vh;
  border: solid black;
  text-align: center;
}

.welcome-message {
  margin-top: 2.5vh;
  font-size: 32px;
}

.button {
  position: absolute;
  top: 2vh;
  left: 85vw;
  font-size: 16px;
}