.categories-container {
  position: absolute;
  margin: 0;
  width: 19vw;
  height: 85vh;
  border: solid black;
  text-align: center;
  overflow: scroll;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-buttons {
  margin: 1vh;
}

.category-button {
  margin-right: 5px;
  margin-left: 5px;
}

.completed-tasks-button {
  margin: 1vh;
}

.create-category-button {
  margin: 1vh;
}

