.window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: scroll;
  width: 79vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin: 1.5vh;
}

.description-text {
  width: 20vw;
  height: 10vh;
}

.submit-button {
  width: 10vw;
}

.return-today {
  color: grey;
  text-decoration: underline;
}

.return-today:hover {
  cursor: pointer;
}

table {
  width: 60vw;
}

.table-button-header {
  width: 5vw;
}

.category-heading {
  width: 15vw;
}

.description-heading {
  width: 30vw;
}

.completed-description-heading {
  width: 45vw;
}

.completed-date-heading {
  width: 15vw;
}

.date-heading {
  width: 15vw;
}

table, th, td {
  border-bottom: 0.5px solid darkgrey;
  border-collapse: collapse;
  padding: 0.5vh;
  text-align: left;
}

tr:hover {
  background-color: grey;
}